<div class="container">
<h2 style="text-align: center;"> TASKS</h2>

<div class="dropdown">
    <label for="departments" style="margin: 20px;text-align: center;">Department</label>
  <select name="departments" id="departments" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <option value="HR"><a class="dropdown-item" href="#">HR</a></option>
    <option value="Accounting"><a class="dropdown-item" href="#">Accounting</a></option>
    <option value="Project"><a class="dropdown-item" href="#">Project Management</a></option>
  </select>
  </div><br>
  
  <div class="row" style="margin: 20px;background-color: lightcoral;">
    <div class="col">Task Title</div>      
  <div class="col">End Date</div>
</div>
  <div class="row" *ngFor="let item of taskList" style="padding: 5px;margin: 20px;background-color: lightgray;"> 
    <div class="col" (mouseover)="changeText=true" (mouseout)="changeText=false">{{item.title}}
      <span *ngIf="changeText">{{item.type}}</span>
    </div>      
  <div class="col">{{item.endingdate}}</div>
  
</div>
</div>
<!---<div class="w-100">
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 198px;position: absolute;">Task1</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 258px;left: 160px;position: absolute;">Task2</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 198px;left: 590px;position: absolute;">Task3</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 370px;left: 290px;position: absolute;">Task4</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 258px;left: 450px;position: absolute;">Task5</span>
    <span class="border border-primary rounded-circle" style="padding: 30px;background-color: lightcoral;margin: 30px;top: 370px;left: 690px;position: absolute;">Task6</span>
  </div>--->
