<div class="card" style="width: 100%;height: 432px;">
        <h2 class="card-text-heading" style="text-align: center;margin: 40px;">HOME</h2>
            <div class="card" style="top: 158px;width: 132px;height: 69px;position: absolute;left: 136px;">
            <div class="card-body">
              <a href="#" class="card-text">Accounting</a>
            </div>
             </div>
            <div class="card" style="top: 158px;width: 122px;height: 69px;position: absolute;left: 476px;">
            <div class="card-body">
              <a href="#" class="card-text">HR</a>
            </div>
            </div>
            <div class="card" style="width: 148px;height: 69px;position: absolute;left: 301px;top: 306px;">
            <div class="card-body">
              <a href="#" class="card-text">Project Management</a>
            </div>
          </div>
  </div>